*{
    font: inherit;
    background-color: inherit;
    color: inherit;
    margin: inherit;
    text-align: inherit;
    font-family: inherit;
}

td{
    vertical-align: top;
}

header{
    height: 8.5rem;
    color: aqua;
    background-color: black;
}

main{
    max-width: 120rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    min-height: 40rem;
}

footer{
    width: 100%;
    height: 20rem;
    object-fit: cover;
    text-align: left;
    margin: 0;
}




.defaultHeaderTable{

}